
body,html{
  width:100%;
  height:100%;
  font-family: 'Raleway';
}
/* ================== */
/*    NAME SECTION    */
/* ================== */
#name{
  background-color: white;
  padding: 20px 0;
  text-align: center;
}
#name h1{
  font-weight: 600;
  font-size: 25px;
}
#name ul{
  list-style: none;
  padding: 0;
}
#name li{
  display: inline;
  padding: 0 5px;
}
#name button{
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
#name button:focus{
  outline: none;
}
/* ================== */
/*   BANNER SECTION   */
/* ================== */
#banner{
  background-color: #4C5364;
}
#banner figure{
  margin: 0 auto;
}
#banner figure img{
  max-width: 100%;
  height: auto;
}
/* ================== */
/*    ABOUT SECTION   */
/* ================== */
#about {
  padding: 35px 0;
  min-height: 500px;
  background-color: #C26868;
}
#about .code{
  margin:0 auto;
  background-color: #ccc;
  padding-top: 15px;
  width:90%;
  border-radius: 5px;
  font-family: "Montserrat";
}
#about .console{
  padding: 40px;
  color: #fafafa;
  margin:0 auto;
  width:100%;
  min-height: 450px;
  background-color: #383737;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* ================== */
/*   PROJECT SECTION  */
/* ================== */
#projects{
  background-color: #ddd;
  padding: 35px 0;
}
.box{
  background-color: white;
}
.box img{
  max-width: 100%;
  height: auto;
}
.box p{
  padding: 15px;
}
.footer{
  padding-top: 35px;
  text-align: center;
}
